*{
    box-sizing: border-box;
}

.landing-page{
    background-image: url(./unsplash.jpg);
    /* width: 1280px; */
    height: 720px;
    background-size:cover;
    position: relative;
    display: flex;
    background-position: center;
    /* flex-direction: column; */
    justify-content: center;
    
}
.right{
    position: absolute;
    right: 9vw;
    top: 2vh;
}
.right > a {
    text-decoration: none;
    color: white;
}
.center{
    /* position: absolute;
    right: 35%;
    bottom: 40%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.center > p {
    color: white;
    font-size: 44px;
    margin: 2px;
}
.center > img{
    width: 300px;
    height: 70px;
    
}
h6{
    color: white;
    margin: 2px;
    font-size: 15px;
    
}
button{
    background-color: rgb(152, 181, 234);
    padding: 5px 20px;
    margin: 20px;
}
.logo{
    margin: 10px;
}




